.sidebar-wrapper {
	position: absolute;
	top: 0;
	width: 300px;
	height: 100vh;
	min-height: 100%;
	color: #afbbc0;
	background-color: #1b2e35;
	box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
	overflow-y: hidden;
	z-index: 1000;

	.sidebar {
		margin: 20px 30px;
		height: inherit;
		text-align: center;
		border-top: 2px solid #a4b0b4;

		&-avatar {
			margin: 30px auto 30px auto;
			height: 150px;
			width: 150px;
			background-image: url('../img/avatar.jpeg');
			background-size: 100%;
			background-position: center;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
		}

		&-username {
			color: #eacb04;
			font-size: 1.4em;
			letter-spacing: 3px;
		}

		&-developer {
			margin-top: 5px;
		}

		&-title {
			margin-top: 50px;
			margin-bottom: 15px;
			color: #eacb04;
			font-size: 1.1em;
			font-weight: 600;
			letter-spacing: 3px;
		}

		.qualities {

		}

		.contact {
			&-list {
				margin-top: -10px;
			}

			&-item {
				padding-top: 10px;
				padding-bottom: 10px;
				text-align: left;
				border-bottom: 2px solid #a4b0b4;

				&:last-child {
					border-bottom: 0;
				}
			}

			&-link {
				float: right;
			}
		}
	}

}

