.skills {
	&-list {
		margin-top: -10px;
		list-style: square;
	}

	&-item {
		float: left;
		width:47%;
		margin-left: 15px;
		padding-top: 10px;
		height: 40px;
		color: #a4b0b4;

		span {
			color: #000;
		}
	}


	.skill-bar {
		margin-top: -7px;
		&-unfill {
			display: inline-block;
			height: 7px;
			width: 60%;
			background: #a4b0b4;
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
		}

		&-fill {
			display: block;
			height: 7px;
			width: 0;
			background: #f7db00;
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
		}
	}
}