.skills {
	&-list {
		list-style: square;
		margin-top: -10px;
	}

	&-item {
		margin-left: 15px;
		padding-top: 10px;
		color: #a4b0b4;
		height: 40px;
		float: left;
		width:47%;

		span {
			color: #000;
		}
	}


	.skill-bar {
		margin-top: -7px;
		&-unfill {
			height: 7px;
			display: inline-block;
			background: #a4b0b4;
			width: 60%;
			border-radius: 8px
		}

		&-fill {
			height: 7px;
			display: block;
			background: #f7db00;
			width: 0;
			border-radius: 8px;
		}
	}
}