/************************************************************************************
RESET
*************************************************************************************/
* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  color: #212b30;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f7fafb;
  text-align: left;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.575rem;
}

h6 {
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/************************************************************************************
COMMON
*************************************************************************************/
.wrapper, body, html {
  min-height: 100%;
}

.wrapper {
  position: relative;
  width: 1080px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

.content-wrapper {
  height: 100%;
  margin-left: 300px;
  padding: 0 25px;
  font-size: 1.1em;
}

.container {
  margin: 40px 0;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title-circle {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  background: #fbd900;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.section-title-circle::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  color: #fff;
}

a,
a:visited {
  color: #ccdbe0;
}

.content-wrapper a,
.content-wrapper a:visited {
  color: #2e73ff !important;
}

a:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.text-uppercase {
  text-transform: uppercase;
}

.sidebar-wrapper {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100vh;
  min-height: 100%;
  color: #afbbc0;
  background-color: #1b2e35;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  overflow-y: hidden;
  z-index: 1000;
}
.sidebar-wrapper .sidebar {
  margin: 20px 30px;
  height: inherit;
  text-align: center;
  border-top: 2px solid #a4b0b4;
}
.sidebar-wrapper .sidebar-avatar {
  margin: 30px auto 30px auto;
  height: 150px;
  width: 150px;
  background-image: url("../img/avatar.jpg");
  background-size: 125%;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.sidebar-wrapper .sidebar-username {
  color: #eacb04;
  font-size: 1.4em;
  letter-spacing: 3px;
}
.sidebar-wrapper .sidebar-developer {
  margin-top: 5px;
}
.sidebar-wrapper .sidebar-title {
  margin-top: 50px;
  margin-bottom: 15px;
  color: #eacb04;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 3px;
}
.sidebar-wrapper .sidebar .contact-list {
  margin-top: -10px;
}
.sidebar-wrapper .sidebar .contact-item {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid #a4b0b4;
}
.sidebar-wrapper .sidebar .contact-item:last-child {
  border-bottom: 0;
}
.sidebar-wrapper .sidebar .contact-link {
  float: right;
}

.skills-list {
  margin-top: -10px;
  list-style: square;
}
.skills-item {
  float: left;
  width: 47%;
  margin-left: 15px;
  padding-top: 10px;
  height: 40px;
  color: #a4b0b4;
}
.skills-item span {
  color: #000;
}
.skills .skill-bar {
  margin-top: -7px;
}
.skills .skill-bar-unfill {
  display: inline-block;
  height: 7px;
  width: 60%;
  background: #a4b0b4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.skills .skill-bar-fill {
  display: block;
  height: 7px;
  width: 0;
  background: #f7db00;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

/*# sourceMappingURL=app.css.map */
